<html>
 <h3>Operation system: <%= @operatingsystem %></h3>
 <h3>OS Release: <%= @operatingsystemrelease %></h3>
 <h3>Kernel Version: <%= @kernelversion %></h3>
 <h3>IP Address: <%= @ipaddress %></h3>
</html>
